<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">{{title}}</h1>
  <span class="text-muted">Put something nice here</span>

  <div class="index-edit">
    <div ng-show="isEditing" class="ng-cloak">
      <button ng-click="doneEditing();">Done</button>
      <div id="title-edit"><input type="text" ng-model="title"></input></div>
    </div>
    <div ng-show="!isEditing" class="ng-cloak">
      <button ng-click="edit();">Edit</button>
    </div>
  </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>
  