<h1 class="page-header">{{meetup.group.name}}</h1>
<div style="float: left;" class="member-meetup-name"><h3>Next Event: </h3></div><a href="{{meetup.event_url}}" class="thumb" style="float: left;">
	<div class="nametag-photo-name member-meetup-name">
		<h3 class="event-name">{{meetup.name}}</h3>
	</div>
</a>
<div ng-show="!isSelectingPrizeWinner" class="ng-cloak" style="float: right; padding-left: 20px;">
	<a href="" ng-click="getRandomMember();">Select Random Member</a>
</div>
<div ng-show="isSelectingPrizeWinner" class="ng-cloak" style="float: right; padding-left: 20px;">
	<a href="" ng-click="resetMemberTiles();">Reset</a>
</div>
<div style="float: right;">
	<span>Prize: </span>
	<select id="prize">
		<option value="-1"></option>
		<option value="jetbrains">JetBrains License</option>
		<option value="mindscape">Mindscape License</option>
		<option value="pluralsight">Pluralsight Subscription</option>
		<option value="apress">Apress eBook</option>
	</select>
</div>
<div style="clear: both;">
	<h4 class="ng-cloak">(<span class="count">{{meetup.yes_rsvp_count}}</span> {{meetup.group.who}})</h4>
</div>
<div id="member-listings">
	<div ng-repeat="rsvp in rsvps | orderBy: 'member.name'" class="thumbnail member-listing member-{{rsvp.member.member_id}}">
		<div ng-if="rsvp.member_photo" class="member-photo"><img ng-src="{{rsvp.member_photo.thumb_link}}" width="50" /></div>
		<div ng-if="!rsvp.member_photo" class="member-photo"><img ng-src="http://img2.meetupstatic.com/img/458386242735519287330/noPhoto_50.png" width="50" /></div>
		<div class="rsvp-details">
			<a href="http://www.meetup.com/{{rsvp.group.urlname}}/members/{{rsvp.member.member_id}}" class="thumb">
				<div class="nametag-photo-name">
					<h5 class="meetup-name">{{rsvp.member.name}}</h5>
				</div>
			</a>
		</div>
	</div>
	<div style="clear:both"></div>
</div>
